body{
    background-color: aqua;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction: column;
}

.card-container > div {
    display: flex; justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}