body{
    background-color: black;
}

header{ 
    color: bisque;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 5rem;
    color: white;
}

header > img {
    width: 5rem;
    height: auto;
}

.sidebar{
    background-color: bisque;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 3rem;
}

.home{
    grid-column: 1/2;
    grid-row: 1/2;
}
.today{
    grid-column: 2/3;
    grid-row: 1/2;
}
.week{
    grid-column: 3/4;
    grid-row: 1/2;
}

.projects-title{
    grid-column: 1/4;
}
